<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ restaurant.name }}</title>
     <style>
     body {
            background-color: black;
            color: white;

        .container {
            display: flex;
            align-items: flex-start;
        }

        .poster {
            flex: 1;
            margin-right: 20px;
        }

        .info {
            flex: 2;
        }

        .info h2 {
            margin-top: 0;
        }
    </style>
</head>
<body>
    <h1>{{ restaurant.name }}</h1>
    <div class="container ">

        <div class="poster">
            <img src="{{ url_for('static', filename=restaurant.poster) }}" alt="{{ restaurant.name }}">
        </div>

        <dif class="data">

            <h2>{{ restaurant.name }}</h2>
            <p><strong>Address:</strong> {{ restaurant.address}}</p>
            <p><strong>Price Level</strong> {{restaurant.price_level}}</p>
            <p><strong>Kitchen Type</strong> {{ restaurant.kitchen_type}}</p>
            <p><strong>Happy Hour:</strong> {{restaurant.happy_hour}}</p>
            <p><strong>Style:</strong>{{ restaurant.style}}</p>
            <p><strong>Opening Hours:</strong>{{ restaurant.opening_hours}}</p>
            <p><strong>Site:</strong><a href="{{restaurant.site}}">{{restaurant.site}}</a></p>
            <p><strong>Wolt Review:</strong> {{restaurant.wolt_review}}</p>
        </dif>


    </div>
    <p>{{ restaurant.info }}</p>

        <form>

            <input type="text" name="comment">
            <button type="submit" >Save</button>

        </form>





</body>
</html>